<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DBContext" connectionString="metadata=res://*/AppData.DBContext.csdl|res://*/AppData.DBContext.ssdl|res://*/AppData.DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NCBCTQU;initial catalog=Volochaev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>